body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #695E93;
}

header {
    background-color: #EAE7FA; 
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #EAE7FA;
    color: black;
    text-align: center;
    padding: 20px;
}

/* Playlist card styles */
.playlist-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: #695E93 ;






    /**/
    
}

.playlist-card {
    background-color: #BEAFC2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.playlist-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Like button styles */
.like-container {
    display: flex;
    align-items: center;
    
}

.like-btn {
    background: url('assets/img/heart.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.like-btn:hover{
    transform: scale(1.2);
}

.like-btn.clicked{
    transform: scale(1.2);
    filter: brightness(1.2);
}

.like-count {
    margin-left: 5px;
}






.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
 }
 .modal-content {
    background-color: #BEAFC2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 /*#shuffleButton {
    background-color: #4CAF50; /* Green background */
    /*color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#shuffleButton:hover {
    background-color: #45a049; } /* Darker green on hover */


.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

/*//////////////////////////////////////////////////*

.featured-playlist {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Playlist details container */



.featured-playlist {
    display: flex;
    gap: 20px;
    flex-basis: 30%;
}

.playlist-details {

    /*display: flex;
    flex-direction: column; /* Stack items vertically */
    /*justify-content: flex-start; /* Align items at the start */
    
        grid-column-start: 1;
        grid-column-end: 3;
      
}

.song-details {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items at the start */
    flex-basis: 60%;
}

.playlist-details,
.song-details {
    flex-basis: 50%; /* Each takes up half of the available space */
}

#navigation ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

#navigation ul li {
    display: inline;
    margin-right: 20px;
}

#navigation ul li a {
    text-decoration: none;
    color: black;
}

.playlist-details > img {
    height: 35%;
    width: 35%;
}
/* Make playlist details and song details side by side */


/* Make playlist details and song details side by side */


a {
    display: flex;
    gap: 20px;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


